In [15]:
import pyodbc

server = 'dist-6-505.uopnet.plymouth.ac.uk'
database = 'COMP2001_HMoth'
username = 'HMoth'
password = 'SzcH781+'
driver = '{ODBC Driver 17 for SQL Server}'
conn_str = (
    f'DRIVER={driver};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password};'
    'Encrypt=Yes;'
    'TrustServerCertificate=Yes;'
    'Connection Timeout=30;'
    'Trusted_Connection=No'
)

conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

In [ ]:
cursor.execute(''' CREATE SCHEMA CW2''')
conn.commit()

In [ ]:
cursor.execute('''
 CREATE TABLE CW2.[User] (
        User_ID INT IDENTITY(1,1) PRIMARY KEY,
        Username VARCHAR(50) NOT NULL,
        [Password] VARCHAR(50) NOT NULL,
        Email VARCHAR(50) NOT NULL,
        Role VARCHAR(50) NOT NULL,
               
        CHECK (Role IN ('Admin', 'User'),
        CHECK (Email LIKE '%_@_%._%')
                          
    )             
''')