In [3]:
import pyodbc

server = 'dist-6-505.uopnet.plymouth.ac.uk'
database = 'COMP2001_HMoth'
username = 'HMoth'
password = 'SzcH781+'
driver = '{ODBC Driver 17 for SQL Server}'
conn_str = (
    f'DRIVER={driver};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password};'
    'Encrypt=Yes;'
    'TrustServerCertificate=Yes;'
    'Connection Timeout=30;'
    'Trusted_Connection=No'
)

conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

In [2]:
cursor.execute(''' CREATE SCHEMA CW2'''),
conn.commit(),

(None,)

In [42]:
cursor.execute('''
CREATE TABLE CW2.[User] (
    UserID INT IDENTITY(1,1) PRIMARY KEY,
    Username VARCHAR(50) NOT NULL,
    [Password] VARCHAR(50) NOT NULL,
    Email VARCHAR(50) NOT NULL,
    Role VARCHAR(50) NOT NULL,
    
    CHECK (Role IN ('Admin', 'User')),
    CHECK (Email LIKE '%_@_%._%')
)
''')
conn.commit()

In [57]:
cursor.execute("SELECT * FROM CW2.[User]")

user = cursor.fetchall()
for person in user:
    print(person)

(1, 'Grace Hopper', 'ISAD123!', 'grace@plymouth.ac.uk', 'User')
(2, 'Tim Berners-Lee', 'COMP2001!', 'tim@plymouth.ac.uk', 'User')
(3, 'Update Test', 'Test123', 'test@test.ac.uk', 'User')

In [43]:
cursor.execute('''
INSERT INTO CW2.[User] (Username, Email, [Password], Role)
VALUES ('Grace Hopper', 'grace@plymouth.ac.uk', 'ISAD123!', 'User'),
('Tim Berners-Lee', 'tim@plymouth.ac.uk', 'COMP2001!', 'User'),
('Ada Lovelace', 'ada@plymouth.ac.uk', 'insecurePassword', 'User')

''')
conn.commit()

In [54]:
cursor.execute('''
INSERT INTO CW2.[User] (Username, Email, [Password], Role)
VALUES ('Harvey Moth', 'harvey@plymouth.ac.uk', 'passvord', 'User')

''')
conn.commit()

In [49]:
cursor.execute('''
CREATE TABLE CW2.Trail (
    TrailID INT IDENTITY(1,1) PRIMARY KEY,
    TrailName VARCHAR(50) NOT NULL,
    Length FLOAT NOT NULL,
    Difficulty VARCHAR(50) NOT NULL,
    TrailDescription VARCHAR(500) NOT NULL,
    TrailSummary VARCHAR(500) NOT NULL,
    Location VARCHAR(500) NOT NULL,
    RouteType VARCHAR(500) NOT NULL,
    ElevationGain INT NOT NULL,
    OwnerID INT NOT NULL,
    PT1_Lat FLOAT NOT NULL,
    PT1_Long FLOAT NOT NULL,
    PT1_Desc VARCHAR(500) NOT NULL,
    PT2_Lat FLOAT NOT NULL,
    PT2_Long FLOAT NOT NULL,
    PT2_Desc VARCHAR(500) NOT NULL,
    CONSTRAINT fk_OwnerID FOREIGN KEY (OwnerID) REFERENCES CW2.[User](UserID),
    
    CHECK (RouteType IN ('Loop', 'Out and Back', 'Point to Point')),
    CHECK (Difficulty IN ('Easy', 'Moderate', 'Hard')),
    CHECK (Length > 0),
    CHECK (ElevationGain > 0),
    CHECK (PT1_Lat BETWEEN -90 AND 90),
    CHECK (PT1_Long BETWEEN -180 AND 180),
    CHECK (PT2_Lat BETWEEN -90 AND 90),
    CHECK (PT2_Long BETWEEN -180 AND 180)
);
''')
conn.commit()

In [50]:
cursor.execute('''INSERT INTO CW2.Trail (
    TrailName, Length, Difficulty, TrailDescription, TrailSummary, 
    Location, RouteType, ElevationGain, OwnerID, 
    PT1_Lat, PT1_Long, PT1_Desc, PT2_Lat, PT2_Long, PT2_Desc
)
VALUES 
('Sunset Loop', 5.2, 'Moderate', 
 'A scenic trail with breathtaking sunset views, lush greenery, and diverse wildlife.', 
 'An enjoyable hike with moderate elevation changes.', 
 'Springfield National Park', 'Loop', 450, 1, 
 34.0522, -118.2437, 'Trailhead at the main entrance.', 
 34.0482, -118.2507, 'Final viewpoint with sunset visibility.'),

('Mountain Ascent', 8.7, 'Hard', 
 'A challenging ascent with rocky terrain leading to panoramic mountain vistas.', 
 'Ideal for seasoned hikers seeking adventure.', 
 'Rocky Ridge Trail System', 'Out and Back', 1200, 2, 
 39.7392, -104.9903, 'Trail starts near the parking lot.', 
 39.7465, -104.9856, 'Summit with panoramic views.'),

('Riverbank Stroll', 3.5, 'Easy', 
 'A relaxing trail along a gently flowing river, perfect for families and beginners.', 
 'Flat and easy terrain with plenty of picnic spots.', 
 'Meadow Creek Preserve', 'Point to Point', 50, 3, 
 40.7128, -74.0060, 'Starting point near the visitor center.', 
 40.7180, -74.0025, 'Ending at the riverside pavilion.'),

('Forest Trek', 6.0, 'Moderate', 
 'A shaded trail through dense forest with a beautiful waterfall midway.', 
 'Great for a half-day adventure with nature.', 
 'Cedarwood Forest Reserve', 'Loop', 600, 3, 
 45.5231, -122.6765, 'Entrance at the main gate.', 
 45.5302, -122.6847, 'Waterfall area and rest stop.'),

('Desert Trail Adventure', 10.5, 'Hard', 
 'A rugged trail through desert landscapes, featuring unique rock formations and open skies.', 
 'Long and challenging but rewarding for experienced hikers.', 
 'Red Rock Desert Trails', 'Out and Back', 900, 2, 
 36.1699, -115.1398, 'Trailhead at the southern entrance.', 
 36.1592, -115.1425, 'End point near the canyon ridge.')
;
''')
conn.commit()

In [58]:
cursor.execute("SELECT * FROM CW2.Trail")

trail = cursor.fetchall()
for trails in trail:
    print(trails)

(1, 'Sunset Loop', 5.2, 'Moderate', 'A scenic trail with breathtaking sunset views, lush greenery, and diverse wildlife.', 'An enjoyable hike with moderate elevation changes.', 'Springfield National Park', 'Loop', 450, 1, 34.0522, -118.2437, 'Trailhead at the main entrance.', 34.0482, -118.2507, 'Final viewpoint with sunset visibility.')
(2, 'Mountain Ascent', 8.7, 'Hard', 'A challenging ascent with rocky terrain leading to panoramic mountain vistas.', 'Ideal for seasoned hikers seeking adventure.', 'Rocky Ridge Trail System', 'Out and Back', 1200, 2, 39.7392, -104.9903, 'Trail starts near the parking lot.', 39.7465, -104.9856, 'Summit with panoramic views.')
(3, 'WALK back stroll', 5.5, 'Easy', 'a stroll innit', 'steep and hard to climb', 'Wild live preserve', 'Loop', 70, 3, 50.1234, -20.5464, 'ENDS NEAR A RIVER', 50.7676, -43.545, 'ENDS NEAR A RIVER')
(4, 'Forest Trek', 6.0, 'Moderate', 'A shaded trail through dense forest with a beautiful waterfall midway.', 'Great for a half-day adventure with nature.', 'Cedarwood Forest Reserve', 'Loop', 600, 3, 45.5231, -122.6765, 'Entrance at the main gate.', 45.5302, -122.6847, 'Waterfall area and rest stop.')
(5, 'Desert Trail Adventure', 10.5, 'Hard', 'A rugged trail through desert landscapes, featuring unique rock formations and open skies.', 'Long and challenging but rewarding for experienced hikers.', 'Red Rock Desert Trails', 'Out and Back', 900, 2, 36.1699, -115.1398, 'Trailhead at the southern entrance.', 36.1592, -115.1425, 'End point near the canyon ridge.')

In [45]:
cursor.execute(''' 
CREATE TABLE CW2.Feature(
    FeatureID INT IDENTITY(1,1) PRIMARY KEY,
    FeatureName VARCHAR(50) NOT NULL
)
''')
conn.commit()

In [46]:
cursor.execute(''' 
    INSERT INTO CW2.Feature(FeatureName)
    VALUES
    ('Waterfall'),
    ('Cave'),
    ('Wildlife'),
    ('Scenic View'),
    ('Historical Site'),
    ('Creek'),
    ('Rock Formation'),
    ('Meadow'),
    ('Forest')



''')
conn.commit()

In [47]:
cursor.execute("SELECT * FROM CW2.feature")

feature = cursor.fetchall()
for features in feature:
    print(features)

(1, 'Waterfall')
(2, 'Cave')
(3, 'Wildlife')
(4, 'Scenic View')
(5, 'Historical Site')
(6, 'Creek')
(7, 'Rock Formation')
(8, 'Meadow')
(9, 'Forest')

In [52]:
cursor.execute(''' 
CREATE TABLE CW2.TrailFeature(
    TrailID INT NOT NULL,
    TrailFeatureID INT NOT NULL,
    CONSTRAINT fk_TrailID FOREIGN KEY (TrailID) REFERENCES CW2.Trail(TrailID),
    CONSTRAINT fk_TrailFeatureID FOREIGN KEY (TrailFeatureID) REFERENCES CW2.Feature(FeatureID)
)
''')
conn.commit()

In [59]:
cursor.execute("SELECT * FROM CW2.TrailFeature")

TrailFeature = cursor.fetchall()
for Trailfeature in TrailFeature:
    print(Trailfeature)

(1, 4)
(1, 7)
(2, 4)
(2, 8)
(3, 9)
(3, 7)
(4, 1)
(4, 4)
(5, 1)
(5, 2)
(4, 3)
(5, 7)

In [53]:
cursor.execute(''' 
INSERT INTO CW2.TrailFeature(TrailID, TrailFeatureID)
VALUES
(1, 4),
(1, 7),
(2, 4),
(2, 8),
(3, 9),
(3, 7),
(4, 1),
(4, 4),
(5, 1),
(5, 2),
(4, 3),
(5, 7)
''')
conn.commit()

In [40]:
cursor.execute(''' 
DROP TABLE CW2.TrailFeature

''')
conn.commit()

ProgrammingError: ('42S02', "[42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot drop the table 'CW2.TrailFeature', because it does not exist or you do not have permission. (3701) (SQLExecDirectW)")

In [39]:
cursor.execute(''' 
DROP TABLE CW2.Trail

''')
conn.commit()

ProgrammingError: ('42S02', "[42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot drop the table 'CW2.Trail', because it does not exist or you do not have permission. (3701) (SQLExecDirectW)")

In [37]:
cursor.execute(''' 
DROP TABLE CW2.[User]

''')
conn.commit()

In [38]:
cursor.execute(''' 
DROP TABLE CW2.Feature

''')
conn.commit()