In [1]:
import pyodbc

server = 'dist-6-505.uopnet.plymouth.ac.uk'
database = 'COMP2001_HMoth'
username = 'HMoth'
password = 'SzcH781+'
driver = '{ODBC Driver 17 for SQL Server}'
conn_str = (
    f'DRIVER={driver};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password};'
    'Encrypt=Yes;'
    'TrustServerCertificate=Yes;'
    'Connection Timeout=30;'
    'Trusted_Connection=No'
)

conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

In [2]:
cursor.execute(''' CREATE SCHEMA CW2'''),
conn.commit(),

(None,)

In [31]:
cursor.execute('''
CREATE TABLE CW2.[User] (
    User_ID INT IDENTITY(1,1) PRIMARY KEY,
    Username VARCHAR(50) NOT NULL,
    [Password] VARCHAR(50) NOT NULL,
    Email VARCHAR(50) NOT NULL,
    Role VARCHAR(50) NOT NULL,
    
    CHECK (Role IN ('Admin', 'User')),
    CHECK (Email LIKE '%_@_%._%')
)
''')
conn.commit()

In [29]:
cursor.execute('''DROP TABLE CW2.[User]''')
conn.commit()

In [39]:
cursor.execute('''
CREATE TABLE CW2.Trail (
    Trail_ID INT IDENTITY(1,1) PRIMARY KEY,
    TrailName VARCHAR(50) NOT NULL,
    Length FLOAT NOT NULL,
    Difficulty VARCHAR(50) NOT NULL,
    TrailDescription VARCHAR(500) NOT NULL,
    Location VARCHAR(500) NOT NULL,
    RouteType VARCHAR(500) NOT NULL,
    ElevationGain INT NOT NULL,
    OwnerID INT NOT NULL,
    PT1_Lat FLOAT NOT NULL,
    PT1_Long FLOAT NOT NULL,
    PT1_Desc VARCHAR(500) NOT NULL,
    PT2_Lat FLOAT NOT NULL,
    PT2_Long FLOAT NOT NULL,
    PT2_Desc VARCHAR(500) NOT NULL,
    CONSTRAINT fk_OwnerID FOREIGN KEY (OwnerID) REFERENCES CW2.[User](User_ID),
    
    CHECK (RouteType IN ('Loop', 'Out and Back', 'Point to Point')),
    CHECK (Difficulty IN ('Easy', 'Moderate', 'Hard')),
    CHECK (Length > 0),
    CHECK (ElevationGain > 0),
    CHECK (PT1_Lat BETWEEN -90 AND 90),
    CHECK (PT1_Long BETWEEN -180 AND 180),
    CHECK (PT2_Lat BETWEEN -90 AND 90),
    CHECK (PT2_Long BETWEEN -180 AND 180)
);
''')
conn.commit()

In [41]:
cursor.execute("SELECT * FROM CW2.Trail")

trail = cursor.fetchall()
for trails in trail:
    print(trails)

(1, 'Mountain Ridge Trail', 5.5, 'Moderate', 'A scenic trail with panoramic views of the mountains, some steep inclines.', 'Rocky Mountains, Colorado', 'Loop', 1200, 1, 39.7392, -105.1059, 'Trailhead near the parking lot', 39.7521, -105.1305, 'Summit with a great view')
(2, 'Sunset Cliff Walk', 2.2, 'Easy', 'A short, easy trail along the cliff with beautiful ocean views during sunset.', 'San Diego, California', 'Out and Back', 250, 2, 32.7157, -117.1692, 'Starting point by the beach', 32.719, -117.1625, 'Cliffside lookout point')
(3, 'Forest Loop', 8.0, 'Hard', 'A challenging trail through dense forest with elevation changes and rocky paths.', 'Olympic National Park, Washington', 'Loop', 1500, 3, 47.6062, -123.2877, 'Trailhead at the park entrance', 47.64, -123.2834, 'Ridge overlook with forest views')
(4, 'Lakeview Trail', 4.5, 'Moderate', 'This trail takes you around a pristine lake with views of the surrounding forest and mountains.', 'Yellowstone, Wyoming', 'Point to Point', 800, 2, 44.4237, -110.5885, 'Trail begins at the south shore', 44.4489, -110.5821, 'Ends at the northern shore with a view of the mountains')
(5, 'Desert Oasis Trail', 6.7, 'Hard', 'A difficult desert trail with steep climbs, rocky terrain, and an oasis at the end.', 'Joshua Tree, California', 'Out and Back', 2000, 3, 33.8734, -116.6163, 'Start at the park entrance', 33.9115, -116.593, 'Oasis with a small pond')
(6, 'River Bend Trail', 3.0, 'Easy', 'An easy walk along the river, ideal for beginners or families.', 'Great Smoky Mountains, Tennessee', 'Loop', 500, 1, 35.676, -83.535, 'Begin at the bridge crossing', 35.6925, -83.52, 'End at the scenic river overlook')

In [40]:
cursor.execute('''

INSERT INTO CW2.Trail (
    TrailName, Length, Difficulty, TrailDescription, Location, RouteType, ElevationGain, OwnerID, 
    PT1_Lat, PT1_Long, PT1_Desc, PT2_Lat, PT2_Long, PT2_Desc
)
VALUES
('Mountain Ridge Trail', 5.5, 'Moderate', 'A scenic trail with panoramic views of the mountains, some steep inclines.', 'Rocky Mountains, Colorado', 'Loop', 1200, 1, 
 39.7392, -105.1059, 'Trailhead near the parking lot', 39.7521, -105.1305, 'Summit with a great view'),
 
('Sunset Cliff Walk', 2.2, 'Easy', 'A short, easy trail along the cliff with beautiful ocean views during sunset.', 'San Diego, California', 'Out and Back', 250, 2, 
 32.7157, -117.1692, 'Starting point by the beach', 32.7190, -117.1625, 'Cliffside lookout point'),

('Forest Loop', 8.0, 'Hard', 'A challenging trail through dense forest with elevation changes and rocky paths.', 'Olympic National Park, Washington', 'Loop', 1500, 3, 
 47.6062, -123.2877, 'Trailhead at the park entrance', 47.6400, -123.2834, 'Ridge overlook with forest views'),

('Lakeview Trail', 4.5, 'Moderate', 'This trail takes you around a pristine lake with views of the surrounding forest and mountains.', 'Yellowstone, Wyoming', 'Point to Point', 800, 2, 
 44.4237, -110.5885, 'Trail begins at the south shore', 44.4489, -110.5821, 'Ends at the northern shore with a view of the mountains'),

('Desert Oasis Trail', 6.7, 'Hard', 'A difficult desert trail with steep climbs, rocky terrain, and an oasis at the end.', 'Joshua Tree, California', 'Out and Back', 2000, 3, 
 33.8734, -116.6163, 'Start at the park entrance', 33.9115, -116.5930, 'Oasis with a small pond'),

('River Bend Trail', 3.0, 'Easy', 'An easy walk along the river, ideal for beginners or families.', 'Great Smoky Mountains, Tennessee', 'Loop', 500, 1, 
 35.6760, -83.5350, 'Begin at the bridge crossing', 35.6925, -83.5200, 'End at the scenic river overlook');
''')
conn.commit()

In [28]:
cursor.execute(''' 
DROP TABLE CW2.Trail

''')
conn.commit()

In [7]:
cursor.execute(''' 
CREATE TABLE CW2.Feature(
    FeatureID INT IDENTITY(1,1) PRIMARY KEY,
    FeatureName VARCHAR(50) NOT NULL
)
''')
conn.commit()

In [17]:
cursor.execute(''' 
    INSERT INTO CW2.Feature(FeatureName)
    VALUES
    ('Waterfall'),
    ('Cave'),
    ('Wildlife'),
    ('Scenic View'),
    ('Historical Site'),
    ('Creek'),
    ('Rock Formation'),
    ('Meadow'),
    ('Forest')



''')
conn.commit()

In [42]:
cursor.execute(''' 
CREATE TABLE CW2.TrailFeature(
    TrailID INT NOT NULL,
    TrailFeatureID INT NOT NULL,
    CONSTRAINT fk_TrailID FOREIGN KEY (TrailID) REFERENCES CW2.Trail(Trail_ID),
    CONSTRAINT fk_TrailFeatureID FOREIGN KEY (TrailFeatureID) REFERENCES CW2.Feature(FeatureID)
)
''')
conn.commit()

In [27]:
cursor.execute(''' 
DROP TABLE CW2.TrailFeature

''')
conn.commit()

In [43]:
cursor.execute(''' 
INSERT INTO CW2.TrailFeature(TrailID, TrailFeatureID)
VALUES
(1, 4),
(1, 7),
(2, 4),
(2, 8),
(3, 9),
(3, 7),
(4, 1),
(4, 4),
(5, 1),
(5, 2),
(6, 3),
(6, 7)
''')
conn.commit()

In [32]:
cursor.execute('''
INSERT INTO CW2.[User] (Username, Email, [Password], Role)
VALUES ('Grace Hopper', 'grace@plymouth.ac.uk', 'ISAD123!', 'User'),
('Tim Berners-Lee', 'tim@plymouth.ac.uk', 'COMP2001!', 'User'),
('Ada Lovelace', 'ada@plymouth.ac.uk', 'insecurePassword', 'User')

''')
conn.commit()