In [39]:
import pyodbc

server = 'dist-6-505.uopnet.plymouth.ac.uk'
database = 'COMP2001_HMoth'
username = 'HMoth'
password = 'SzcH781+'
driver = '{ODBC Driver 17 for SQL Server}'
conn_str = (
    f'DRIVER={driver};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password};'
    'Encrypt=Yes;'
    'TrustServerCertificate=Yes;'
    'Connection Timeout=30;'
    'Trusted_Connection=No'
)

conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

In [2]:
cursor.execute(''' CREATE SCHEMA CW2'''),
conn.commit(),

(None,)

In [26]:
cursor.execute('''
CREATE TABLE CW2.[User] (
    UserID INT IDENTITY(1,1) PRIMARY KEY,
    Username VARCHAR(50) NOT NULL,
    [Password] VARCHAR(50) NOT NULL,
    Email VARCHAR(50) NOT NULL,
    Role VARCHAR(50) NOT NULL,
    
    CHECK (Role IN ('Admin', 'User')),
    CHECK (Email LIKE '%_@_%._%')
)
''')
conn.commit()

In [27]:
cursor.execute('''
INSERT INTO CW2.[User] (Username, Email, [Password], Role)
VALUES
('Harvey Moth', 'Harvey@plymouth.ac.uk', 'Adminpass', 'Admin'),
('Grace Hopper', 'grace@plymouth.ac.uk', 'ISAD123!', 'User'),
('Tim Berners-Lee', 'tim@plymouth.ac.uk', 'COMP2001!', 'User'),
('Ada Lovelace', 'ada@plymouth.ac.uk', 'insecurePassword', 'User')

''')
conn.commit()

In [40]:
cursor.execute("SELECT * FROM CW2.[User]")

user = cursor.fetchall()
for person in user:
    print(person)
conn.commit()

(1, 'Harvey Moth', 'Adminpass', 'Harvey@plymouth.ac.uk', 'Admin')
(2, 'Grace Hopper', 'ISAD123!', 'grace@plymouth.ac.uk', 'User')
(3, 'Tim Berners-Lee', 'COMP2001!', 'tim@plymouth.ac.uk', 'User')
(4, 'Ada Lovelace', 'insecurePassword', 'ada@plymouth.ac.uk', 'User')

In [29]:
cursor.execute('''
CREATE TABLE CW2.Trail (
    TrailID INT IDENTITY(1,1) PRIMARY KEY,
    TrailName VARCHAR(50) NOT NULL,
    Length FLOAT NOT NULL,
    Difficulty VARCHAR(50) NOT NULL,
    TrailDescription VARCHAR(500) NOT NULL,
    TrailSummary VARCHAR(500) NOT NULL,
    Location VARCHAR(500) NOT NULL,
    RouteType VARCHAR(500) NOT NULL,
    ElevationGain INT NOT NULL,
    OwnerID INT NOT NULL,
    PT1_Lat FLOAT NOT NULL,
    PT1_Long FLOAT NOT NULL,
    PT1_Desc VARCHAR(500) NOT NULL,
    PT2_Lat FLOAT NOT NULL,
    PT2_Long FLOAT NOT NULL,
    PT2_Desc VARCHAR(500) NOT NULL,
    PT3_Lat FLOAT NOT NULL,
    PT3_Long FLOAT NOT NULL,
    PT3_Desc VARCHAR(500) NOT NULL,
    PT4_Lat FLOAT NOT NULL,
    PT4_Long FLOAT NOT NULL,
    PT4_Desc VARCHAR(500) NOT NULL,
    PT5_Lat FLOAT NOT NULL,
    PT5_Long FLOAT NOT NULL,
    PT5_Desc VARCHAR(500) NOT NULL,
    CONSTRAINT fk_OwnerID FOREIGN KEY (OwnerID) REFERENCES CW2.[User](UserID),
    
    CHECK (RouteType IN ('Loop', 'Out and Back', 'Point to Point')),
    CHECK (Difficulty IN ('Easy', 'Moderate', 'Hard')),
    CHECK (Length > 0),
    CHECK (ElevationGain > 0),
    CHECK (PT1_Lat BETWEEN -90 AND 90),
    CHECK (PT1_Long BETWEEN -180 AND 180),
    CHECK (PT2_Lat BETWEEN -90 AND 90),
    CHECK (PT2_Long BETWEEN -180 AND 180),
    CHECK (PT3_Lat BETWEEN -90 AND 90),
    CHECK (PT3_Long BETWEEN -180 AND 180),
    CHECK (PT4_Lat BETWEEN -90 AND 90),
    CHECK (PT4_Long BETWEEN -180 AND 180),
    CHECK (PT5_Lat BETWEEN -90 AND 90),
    CHECK (PT5_Long BETWEEN -180 AND 180)
);
''')
conn.commit()

In [30]:
cursor.execute('''
INSERT INTO CW2.Trail (
    TrailName, Length, Difficulty, TrailDescription, TrailSummary, Location, RouteType, ElevationGain, OwnerID, 
    PT1_Lat, PT1_Long, PT1_Desc, PT2_Lat, PT2_Long, PT2_Desc, 
    PT3_Lat, PT3_Long, PT3_Desc, PT4_Lat, PT4_Long, PT4_Desc, 
    PT5_Lat, PT5_Long, PT5_Desc
) VALUES
('Sunrise Loop', 5.4, 'Moderate', 'A scenic loop trail offering sunrise views.', 
 'Ideal for early risers looking for a moderate hike.', 'Rocky Mountain National Park', 'Loop', 850, 1, 
 40.3428, -105.6836, 'Trailhead near parking area.', 
 40.3501, -105.6783, 'Viewpoint overlooking valley.', 
 40.3572, -105.6719, 'Meadow with wildflowers.', 
 40.3486, -105.6764, 'Stream crossing.', 
 40.3428, -105.6836, 'End of the loop.'),

('Eagle Point Trail', 7.2, 'Hard', 'A challenging trail leading to Eagle Point summit.', 
 'Steep ascent but rewarding views at the top.', 'Yosemite National Park', 'Out and Back', 2000, 2, 
 37.7483, -119.5876, 'Trailhead at the visitor center.', 
 37.7551, -119.5894, 'Forest area with diverse flora.', 
 37.7604, -119.5912, 'Steep incline section.', 
 37.7668, -119.5947, 'Rocky terrain before summit.', 
 37.7703, -119.5962, 'Eagle Point summit.'),

('Lake Serenity Path', 3.1, 'Easy', 'A flat trail around the serene Lake Serenity.', 
 'Perfect for families and beginners.', 'Blue Ridge Mountains', 'Loop', 200, 3, 
 35.5964, -82.5569, 'Trailhead near parking lot.', 
 35.5983, -82.5551, 'Picnic area with lake view.', 
 35.6004, -82.5536, 'Fishing spot.', 
 35.5971, -82.5522, 'Wooded area with benches.', 
 35.5964, -82.5569, 'Return to trailhead.'),

('Pine Forest Walk', 6.8, 'Moderate', 'A peaceful walk through dense pine forests.', 
 'Shady and cool even during summer.', 'Great Smoky Mountains', 'Point to Point', 500, 2, 
 35.6234, -83.4501, 'Start of trail at ranger station.', 
 35.6298, -83.4476, 'Old cabin ruins.', 
 35.6352, -83.4448, 'Stream crossing with small bridge.', 
 35.6417, -83.4421, 'Clearing with picnic tables.', 
 35.6473, -83.4395, 'End of trail at forest edge.'),

('Mountain Ridge Adventure', 10.0, 'Hard', 'An adventurous trek along a mountain ridge.', 
 'Breathtaking views but requires good fitness.', 'Appalachian Mountains', 'Out and Back', 3200, 3, 
 36.6109, -81.6828, 'Trailhead at base camp.', 
 36.6201, -81.6754, 'Rocky incline section.', 
 36.6278, -81.6693, 'Scenic viewpoint.', 
 36.6359, -81.6632, 'Ridge walk with steep drop-offs.', 
 36.6427, -81.6574, 'End of trail at summit.');
''')
conn.commit()

In [41]:
cursor.execute("SELECT * FROM CW2.Trail")

trail = cursor.fetchall()
for trails in trail:
    print(trails)

(1, 'Sunrise Loop', 5.4, 'Moderate', 'A scenic loop trail offering sunrise views.', 'Ideal for early risers looking for a moderate hike.', 'Rocky Mountain National Park', 'Loop', 850, 1, 40.3428, -105.6836, 'Trailhead near parking area.', 40.3501, -105.6783, 'Viewpoint overlooking valley.', 40.3572, -105.6719, 'Meadow with wildflowers.', 40.3486, -105.6764, 'Stream crossing.', 40.3428, -105.6836, 'End of the loop.')
(2, 'Eagle Point Trail', 7.2, 'Hard', 'A challenging trail leading to Eagle Point summit.', 'Steep ascent but rewarding views at the top.', 'Yosemite National Park', 'Out and Back', 2000, 2, 37.7483, -119.5876, 'Trailhead at the visitor center.', 37.7551, -119.5894, 'Forest area with diverse flora.', 37.7604, -119.5912, 'Steep incline section.', 37.7668, -119.5947, 'Rocky terrain before summit.', 37.7703, -119.5962, 'Eagle Point summit.')
(3, 'Lake Serenity Path', 3.1, 'Easy', 'A flat trail around the serene Lake Serenity.', 'Perfect for families and beginners.', 'Blue Ridge Mountains', 'Loop', 200, 3, 35.5964, -82.5569, 'Trailhead near parking lot.', 35.5983, -82.5551, 'Picnic area with lake view.', 35.6004, -82.5536, 'Fishing spot.', 35.5971, -82.5522, 'Wooded area with benches.', 35.5964, -82.5569, 'Return to trailhead.')
(4, 'Pine Forest Walk', 6.8, 'Moderate', 'A peaceful walk through dense pine forests.', 'Shady and cool even during summer.', 'Great Smoky Mountains', 'Point to Point', 500, 2, 35.6234, -83.4501, 'Start of trail at ranger station.', 35.6298, -83.4476, 'Old cabin ruins.', 35.6352, -83.4448, 'Stream crossing with small bridge.', 35.6417, -83.4421, 'Clearing with picnic tables.', 35.6473, -83.4395, 'End of trail at forest edge.')
(5, 'Mountain Ridge Adventure', 10.0, 'Hard', 'An adventurous trek along a mountain ridge.', 'Breathtaking views but requires good fitness.', 'Appalachian Mountains', 'Out and Back', 3200, 3, 36.6109, -81.6828, 'Trailhead at base camp.', 36.6201, -81.6754, 'Rocky incline section.', 36.6278, -81.6693, 'Scenic viewpoint.', 36.6359, -81.6632, 'Ridge walk with steep drop-offs.', 36.6427, -81.6574, 'End of trail at summit.')

In [32]:
cursor.execute(''' 
CREATE TABLE CW2.Feature(
    FeatureID INT IDENTITY(1,1) PRIMARY KEY,
    FeatureName VARCHAR(50) NOT NULL
)
''')
conn.commit()

In [33]:
cursor.execute(''' 
    INSERT INTO CW2.Feature(FeatureName)
    VALUES
    ('Waterfall'),
    ('Cave'),
    ('Wildlife'),
    ('Scenic View'),
    ('Historical Site'),
    ('Creek'),
    ('Rock Formation'),
    ('Meadow'),
    ('Forest')



''')
conn.commit()

In [42]:
cursor.execute("SELECT * FROM CW2.feature")

feature = cursor.fetchall()
for features in feature:
    print(features)

(1, 'Waterfall')
(2, 'Cave')
(3, 'Wildlife')
(4, 'Scenic View')
(5, 'Historical Site')
(6, 'Creek')
(7, 'Rock Formation')
(8, 'Meadow')
(9, 'Forest')

In [35]:
cursor.execute(''' 
CREATE TABLE CW2.TrailFeature(
    TrailID INT NOT NULL,
    TrailFeatureID INT NOT NULL,
    CONSTRAINT fk_TrailID FOREIGN KEY (TrailID) REFERENCES CW2.Trail(TrailID),
    CONSTRAINT fk_TrailFeatureID FOREIGN KEY (TrailFeatureID) REFERENCES CW2.Feature(FeatureID)
)
''')
conn.commit()

In [36]:
cursor.execute(''' 
INSERT INTO CW2.TrailFeature(TrailID, TrailFeatureID)
VALUES
(1, 4),
(1, 7),
(2, 4),
(2, 8),
(3, 9),
(3, 7),
(4, 1),
(4, 4),
(5, 1),
(5, 2),
(4, 3),
(5, 7)
''')
conn.commit()

In [43]:
cursor.execute("SELECT * FROM CW2.TrailFeature")

TrailFeature = cursor.fetchall()
for Trailfeature in TrailFeature:
    print(Trailfeature)

(1, 4)
(1, 7)
(2, 4)
(2, 8)
(3, 9)
(3, 7)
(4, 1)
(4, 4)
(5, 1)
(5, 2)
(4, 3)
(5, 7)

In [22]:
cursor.execute(''' 
DROP TABLE CW2.TrailFeature

''')
conn.commit()

In [23]:
cursor.execute(''' 
DROP TABLE CW2.Trail

''')
conn.commit()

In [24]:
cursor.execute(''' 
DROP TABLE CW2.[User]

''')
conn.commit()

In [25]:
cursor.execute(''' 
DROP TABLE CW2.Feature

''')
conn.commit()